<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
     <style>
        .error-box {
            background-color: #f5fef2;
            color: green;         
            padding: 1rem 2rem;
            border: 1px solid #bbfca5;
            border-radius: 8px;
            font-weight: 500;
            max-width: 600px;
            margin: 2rem auto;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="error-box">
        {{ message }}
    </div>
</body>
</html>