<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Active Reservations</title>
    <link rel="icon" href="{{ url_for('static', filename='/images/landing_page_images/icon_image.JPG') }}" type="image/x-icon">
</head>
<body>
    {% if formatted_reserved_spots %}
    {% for spot in formatted_reserved_spots %}
        <div class="card">
            Reserved Spot ID: {{ spot.spot.reserved_spot_id }}<br>
            Parking Time: {{ spot.parking_time }}<br>
            Reserve by : {{ spot.spot.user_detail.name }}<br>
            Email : {{ spot.spot.user_detail.email }}<br>
            Address : {{ spot.spot.user_detail.address_detail.address }}<br>
            Phone : {{ spot.spot.phone }}<br>
            Spot ID: {{ spot.spot.spot_detail.spot_id }}<br>
            Lot Name: {{ spot.spot.spot_detail.lot_detail.lot_name }}<br>
            Spot price per hour : {{ spot.spot.spot_detail.lot_detail.price_per_hr }}<br>
            Lot Location : {{ spot.spot.spot_detail.lot_detail.geographical_detail.location }}, {{ spot.spot.spot_detail.lot_detail.geographical_detail.country }}<br>
            <br>
            <button class="release-spot" data-reserved-id="{{ spot.spot.reserved_spot_id }}">Release Spot</button>
            <br>
            <br>
        </div>
    {% endfor %}
    {% else %}
        <div style="color: #888; font-style: italic;">{{ message }}</div>
    {% endif %}    

    <div class="pagination-container">
        <ul class="pagination">
            {% if pagination.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('user-reserved-spots.reserved_spots', page=pagination.prev_num) }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}

            {% if pagination.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('user-reserved-spots.reserved_spots', page=pagination.next_num) }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    </div>

    {% include 'components/loader.html' %}
    {% include 'components/alert.html' %}

    <script type="module" src="{{ url_for('static', filename='JAVASCRIPT/user/my_active_reservations.js')}}"></script>
    <script src="{{ url_for('static', filename='/JAVASCRIPT/alert.js')}}"></script>
</body>
</html>