<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Active Reservations</title>
    <link rel="icon" href="{{ url_for('static', filename='/images/landing_page_images/icon_image.JPG') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename = '/CSS/user_css/links/my_active_reservations.css')}}">
</head>
<body>
    {% if formatted_reserved_spots %}
    <div class="card-container">
        <h1>MY ACTIVE RESERVATIONS</h1>
        {% for spot in formatted_reserved_spots %}
            <div class="card">
                <div class="head">
                    <p class="reserve-id">{{ spot.spot.reserved_spot_id }}</p>
                    <p>Parking Time: {{ spot.parking_time }}</p>
                </div>
                <div class="details">
                    <p class="reserve-para">Spot is currently reserved by <strong>{{ spot.spot.user_detail.name }}</strong>, &nbsp;&nbsp;{{ spot.spot.phone }}</p>
                    <p style="display: none;">{{ spot.spot.user_detail.email }}</p>
                    <p style="display: none;">{{ spot.spot.user_detail.address_detail.address }}</p>
                    <p style="display: none;">{{ spot.spot.spot_detail.lot_detail.lot_name }}</p>
                    <p style="display: none;">
                        {% if spot.spot.spot_detail.lot_detail.geographical_detail.country | lower == 'india' %}
                            &#8377;{{ spot.spot.spot_detail.lot_detail.price_per_hr }}
                        {% else %}
                            &#36;{{ spot.spot.spot_detail.lot_detail.price_per_hr }}
                        {% endif %}
                    </p>
                    <p style="display: none;">{{ spot.spot.spot_detail.lot_detail.geographical_detail.location }}, {{ spot.spot.spot_detail.lot_detail.geographical_detail.country }}</p>
                    <p>Spot ID allotted to this reservation : {{ spot.spot.spot_detail.spot_id }}</p>
                </div>
                
                <div class="temp">
                    <div class="view-details">
                        <div class="btn">
                            <button class="btn-class user-detail-btn">User details</button>
                            <button class="btn-class lot-detail-btn">Parking Lot Details</button>
                        </div>
                        <button class="release-spot btn-class" data-reserved-id="{{ spot.spot.reserved_spot_id }}">Release Spot</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="no-active-reservations">{{ message }}</div>
    {% endif %}    

    <div class="user-details-panel hidden" id="userDetailsPanel">
        <div class="user-details-content">
            <button class="close-user-details">&times;</button>
            <div class="content">
                <h2>User Details</h2>
                <p><span id="panel-name"></span></p>
                <p><span id="panel-email"></span></p>
                <p><span id="panel-phone"></span></p>
                <p><span id="panel-location"></span></p>
            </div>
        </div>
    </div>

    <div class="lot-details-panel hidden" id="lotDetailsPanel">
        <div class="lot-details-content">
            <button class="close-lot-details">&times;</button>
            <div class="content">
                <h2>Parking Lot Info</h2>
                <p><strong><span id="Lot-name"></span></strong></p>
                <p><span id="Lot-price"></span></p>
                <p><span id="Lot-location"></span></p>
            </div>
        </div>
    </div>

    <div class="pagination-container" id="pagination-container">
        <ul class="pagination">
            {% if pagination.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('user-reserved-spots.reserved_spots', page=pagination.prev_num) }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}

            {% if pagination.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('user-reserved-spots.reserved_spots', page=pagination.next_num) }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    </div>

    {% include 'components/loader.html' %}
    {% include 'components/prompt.html' %}
    {% include 'components/alert.html' %}

    <script type="module" src="{{ url_for('static', filename='JAVASCRIPT/user/my_active_reservations.js')}}"></script>
    <script type="module" src="{{ url_for('static', filename='JAVASCRIPT/user/my_active_reservations_panel.js')}}"></script>
    <script src="{{ url_for('static', filename='/JAVASCRIPT/alert.js')}}"></script>
    <script src="{{ url_for('static', filename='/JAVASCRIPT/custom_prompt.js')}}"></script>
</body>
</html>