<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Past Reservations</title>
    <link rel="icon" href="{{ url_for('static', filename='/images/landing_page_images/icon_image.JPG') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename = '/CSS/user_css/links/my_active_reservations.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = '/CSS/user_css/links/past_reservation.css')}}">
</head>
<body>
    {% if formatted_past_reserved_spots %}
    <div class="card-container">
        <h1>MY PAST RESERVATIONS</h1>
        {% for spot in formatted_past_reserved_spots %}
            <div class="card">
                <div class="card-head">
                    <div class="reserved-spot-circle">
                        {{ spot.reserved_spot.reserved_spot_id }}
                    </div>
                    <div class="parking-info">
                        <p>Parking Time : {{ spot.parking_time }}</p>
                        <p>Leaving Time : {{ spot.leaving_time }}</p>
                    </div>
                </div>

                <div class="basic-details">
                    <div class="user-details">
                        <p class="reservation-holder">Reservation Holder Information</p>
                        <p>Spot was reserved by {{ spot.reserved_spot.user_detail.name }}, &nbsp;&nbsp;{{ spot.reserved_spot.phone }}</p>
                        <p>{{ spot.reserved_spot.user_detail.email }}</p>
                    </div>
                    <div class="lot-details">
                        <p class="parking-info-title">Parking Lot Information</p>
                        <p>Reserved Spot ID : {{ spot.reserved_spot.spot_detail.spot_id }}</p>     
                        <div>
                            <p>{{ spot.reserved_spot.spot_detail.lot_detail.lot_name }},
                                {% if spot.reserved_spot.spot_detail.lot_detail.geographical_detail.country|lower == 'india' %}
                                    &#8377;{{ spot.reserved_spot.spot_detail.lot_detail.price_per_hr }}
                                {% else %}
                                    &#36;{{ spot.reserved_spot.spot_detail.lot_detail.price_per_hr }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="book-again-div">
                    <button class="book-again" data-lot-id="{{ spot.reserved_spot.spot_detail.lot_detail.lot_id }}">Book a Spot Again</button>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="past-reservation-message">{{ message }}</div>
    {% endif %}

    <div class="pagination-container">
        <ul class="pagination">
            {% if pagination.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('view-reserved-spots.activeReservations', page=pagination.prev_num) }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}

            {% if pagination.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('view-reserved-spots.activeReservations', page=pagination.next_num) }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    </div>

    <script>
        Array.from(document.getElementsByClassName('book-again')).forEach(btn => {
            btn.addEventListener('click', () => {
                const lotId = btn.getAttribute('data-lot-id');
                window.location.href = `/TruLotParking/role/userDashboard/bookOneSpot?lot_id=${lotId}`;
            });
        });
    </script>
</body>
</html>