{% extends "/components/landing/landingBase.html" %}

{% block title %}TruLot Parking{% endblock %}

{% block section_1 %}
    <body>
        <div class="row landing-div">
            <div class="col-4 get-started-div">
                <h1 class="comic-neue-regular animate-slide-up">BOOK YOUR SLOT !</h1>
                <p class="comic-neue-regular animate-slide-up">
                    Say goodbye to parking hassles with TruLot ! 
                    Whether you're heading to the mall, office, or a weekend event, <br>
                    TruLot helps you find and reserve a secure parking slot 
                    for your four-wheeler in just a few taps. <br>
                    No more circling around or guessing where to park ?
                    — just convenience, reliability, and peace of mind. 
                    <br>
                    <h3 class="typewriter-text comic-neue-regular"># Your Hassle-free Parking Is Here</h3>
                </p>

                <div class="btn-wrapper d-flex justify-content-start align-items-center"><button id='get-started-btn' class="btn animate-slide-up comic-neue-regular"><span>Get Started</span></button></div>
            </div>
            <div class="col-7 landing-images-div">
                <div class="images-container">
                    <input type="radio" name="slide" id="c1" checked>
                    <label for="c1" class="card animate-slide-up">
                        <div class="glass-overlay"></div>
                    </label>

                    <input type="radio" name="slide" id="c2">
                    <label for="c2" class="card animate-slide-up">
                        <div class="glass-overlay"></div>
                    </label>

                    <input type="radio" name="slide" id="c3">
                    <label for="c3" class="card animate-slide-up">
                        <div class="glass-overlay"></div>
                    </label>

                    <input type="radio" name="slide" id="c4">
                    <label for="c4" class="card animate-slide-up">
                        <div class="glass-overlay"></div>
                    </label>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
