:root{
    --primary-color: #4a90e2;
    /* --primary-color-2: #0CA678; */
    --secondary-color: #f9f9f9b0;
    --tertiary-color: #FFFFFF;
    --label-notice-color: #333;
    --input-field-box: #36454F;
}

.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6f7f720;
    overflow: hidden;
}


#login-form {
    height: 580px;
    width: 580px;
    margin-top: 2rem;
    padding: 1rem 2rem;
    padding-top: 2.25rem;
    background-color: transparent;
    border-radius: 1rem; 
    border: 0.0999rem solid var(--primary-color);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.login-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1.25rem;
}

.cross{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.25rem 0.25rem 0 0;
    margin-left: 0.6rem;
    font-size: 1.1rem;
}

.cross a i{
  color: var(--primary-color);
}

h2{
  margin-left: 1.3rem;
  font-size: 0.9rem;
  color: red;
}

.Notice-list {
  list-style: none;
  padding: 0;       
  margin: 0;       
}

.Notice-list li {
  background-color: transparent;
  border-left: 2.5px solid var(--primary-color);
  padding: 0.8rem 1rem; 
  margin-bottom: 0.55rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.Notice-list li p {
  margin: 0;
  padding: 0.2rem 0.5rem 0.15rem 0.5rem;
  font-size: 0.8rem;
  color: var(--label-notice-color);
  line-height: 1.7;
  font-weight: 500;
}

.subform-container{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 1.5rem;
}

.subform{
    margin-top: 1rem;
    margin-left: 4.5rem;
    width: 100%;
}

.username-container, .password-container {
  margin-bottom: 0.1rem;
}

.username-container label, .password-container label {
  display: block;
  margin-bottom: 0.2rem; 
  margin-left: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--label-notice-color);
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

.username-container input, .password-container input {
  width: 75%;
  padding: 0.6rem 0.75rem;
  padding-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.1rem;
  font-size: 0.8rem;
  border: 0.0999rem solid teal;
  border-radius:5px;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.username-container input:focus, .password-container input:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.15);
}

input::placeholder,
textarea::placeholder {
  color: #999;
  font-size: 0.9rem;
  opacity: 1; 
}

.label-container, .label-container-password {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-container-password {
    width: 60%;
}

.password-container {
  width: 100%;
}

.password-wrapper {
  display: flex;
  align-items: center;
  gap: 0px; 
}

#toggle-password-div {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#password-error-div, #email-error-div {
  width: 75%;
  font-size: 0.8rem;
  color: red;
  margin-left: 1.1rem;
  margin-bottom: 0.8rem;
  height: 16px;

}


.login-div, .forget-password{
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.45rem 1.25rem;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#login-form button:hover {
    background-color: var(--primary-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transform: scale(0.95);
}

.forget-password{
    margin: 1rem 0 0 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.forget-password a{
    color: rgb(232, 21, 21);
    text-decoration: none;
}

.forget-password a:hover{
  color: var(--primary-color);
}

.forget-password p{
  font-size: 0.95rem;
}


#click-here{
  display: inline-block;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.09);
    }
    100% {
        transform: scale(1);
    }
}

/* ------------------------------------------------------- MEDIA QUERIES ---------------------------------------------- */

@media (max-width: 1290px){
  #login-form{
    margin-top: 4rem;
  }
}

@media (max-width: 1040px){
  #login-form {
    height: 790px;
    width: 740px;
    margin-top: 8rem;
    padding: 2rem 2rem;
    padding-top: 3rem;
  }

  .flash-messages{
    height: 60px;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
  }

  .login-heading{
    font-size: 1.75rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .cross{
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-left: 2rem;
  }

  .cross a i{
    font-size: 1.9rem !important;
  }

  h2{
    font-size: 1.2rem;
  }

  .Notice-list {    
    margin-left: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .Notice-list li {
    padding: 0.85rem 1rem; 
  }

  .Notice-list li p {
    padding: 0.3rem 0.5rem 0.15rem 0.5rem;
    font-size: 1.2rem;
    line-height: 1.75;
  }

  .container-row{
    margin-bottom: 0.75rem;
  }

  .username-container, .password-container {
    margin-bottom: 0.6rem;
  }

  .username-container label, .password-container label {
    margin-bottom: 0.1rem; 
    font-size: 1.1rem;
    margin-left: 1rem;
  }

  .username-container input, .password-container input {
    width: 80%;
    font-size: 0.95rem;
    margin-bottom: 0rem;
    padding: 1rem 0.75rem;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 0.9rem;
    padding-left:1rem;
  }

  .label-container, .label-container-password {
    width: 70%;
  }

  .password-container {
    width: 100%;
  }

  .label-container-password {
    width: 60%;
  }

  #eye-icon{
    font-size: 2rem;
  }

  #password-error-div, #email-error-div {
    margin-bottom: 0.9rem;
    margin-top: 0px;
    font-size: 0.9rem;
    padding-top: 0rem;
    margin-left: 1.5rem;
  }

  #login-form button {
    padding: 0.73rem 1.25rem;
    font-size: 1rem;
  }

  .forget-password{
      margin: 4rem 0 0 0rem;
      font-size: 1.2rem;
  }

  .forget-password p{
    font-size: 1.1rem !important;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 940px){
  #login-form {
    height: 750px;
    width: 610px;
    margin-top: 10rem;
    padding-top:4rem;
  }

  .flash-messages{
    margin: 0.25rem;
  }

  .login-heading{
      font-size: 1.6rem;
      font-weight: 800;
  }

  .cross{
    padding: 0.5rem 0.5rem 0.5rem 0;
  }

  .cross a i{
    font-size: 2rem !important;
  }

  h2{
    font-size: 1.1rem;
  }

  .Notice-list {    
    margin-left: 0.6rem; 
  }

  .Notice-list li {
    padding: 0.9rem 1rem; 
  }

  .Notice-list li p {
    font-size: 1.1rem;
  }

  .subform-container{
    margin-left: 2.8rem;
    margin-top: 1rem;
  }

  .username-container, .password-container {
    margin-bottom: 0.3rem;
  }

  .username-container label, .password-container label {
    margin-bottom: 0.3rem; 
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }

  .username-container input, .password-container input {
    width: 75%;
    padding: 0.6rem 0.75rem;
    font-size: 0.9rem;
  }

  .label-container, .label-container-password {
    width: 65%;
  }

  .password-container {
    width: 99%;
  }

  .label-container-password {
    width: 65%;

  }

  #password-error-div, #email-error-div {
    margin-bottom: 0.85rem;
    margin-top: 1px;
  }

  #login-form button {
    padding: 0.6rem 1.75rem;
  }

  #eye-icon{
    font-size: 1.75rem;
    margin-bottom: 0rem;
  }

  .forget-password{
    margin: 2rem 0 0 1rem;
    padding-top: 1rem;
    font-size: 1.45rem;
  }

  .forget-password p{
    font-size: 1.2rem !important;
    margin-bottom: 1.5rem;
  }

}

@media (max-width: 860px){
  #login-form{
    padding-top: 3rem;
    height: 740px;
    width:620px;
  }
  .subform-container{
    margin-left: 2.5rem;
  }

  .subform{
      margin-top: 2rem;
      margin-left: 4rem;
  }
  
  .username-container input{
    width: 75%;
  }

  .password-container {
    width: 90%;
  }

  .label-container-password {
    width: 86%;
  }

  #email-error-div, #password-error-div{
    width: 70%;
  }

  #login-form button{
    margin-top: 0rem;
  }

  .forget-password p{
    font-size: 1.1rem !important;
  }
}

@media (max-width: 770px){
  #login-form{
    margin-top: 4rem;
    margin-left: 0rem;
  }
}

@media (max-width: 580px){
  #login-form {
    height: 640px;
    width: 440px;
    margin-top: 1.5rem;
    padding: 0.5rem 2rem;
    padding-top: 2rem;
  }

  .flash-messages{
    height: 40px;
  }

  .login-heading{
      font-size: 1rem;
      font-weight: 600;
  }

  .cross{
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-left: 1rem;
  }

  .cross a i{
    font-size: 1.5rem !important;
  }

  .forget-password p{
    font-size: 0.8rem !important;
    font-weight: 500;
  }

  h2{
    font-size: 0.9rem;
  }

  .Notice-list {    
    margin-left: 0.25rem; 
  }

  .Notice-list li {
    padding: 0.7rem 1rem; 
  }

  .Notice-list li p {
    padding: 0.3rem 0.5rem 0.15rem 0.5rem;
    font-size: 0.9rem;
    line-height: 1.6;
  }

  .subform-container{
    margin-left: 3rem;
  }

  .subform{
      margin-top: 2rem;
      margin-left: 1rem;
  }

  .username-container label, .password-container label {
    margin-bottom: 0.4rem; 
    font-size: 0.8rem;
  }

  .username-container input, .password-container input {
    width: 80%;
    padding: 0.55rem 0.75rem;
    font-size: 0.9rem;
  }

  .password-container {
    width: 100%;
  }

  #eye-icon{
    font-size: 1.4rem !important;
  }

  #password-error-div, #email-error-div {
    margin-bottom: 0.65rem;
    font-weight: 300;
  }

  #login-form button {
    padding: 0.45rem 1.75rem;
    margin-left: 1rem;
    width: 8rem;
    font-size: 0.95rem;
    font-weight: 400;
  }

  .forget-password{
    margin: 0.5rem 0 1rem 1rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    letter-spacing: 2px;
  }
}

@media (max-width: 440px){
  #email-error-div, #password-error-div{
    font-size: 0.7;
  }

  #login-form {
    height: 680px;
    width: 360px;
    margin-top: 3rem;
    padding: 0.5rem 1rem;
    padding-top: 1rem;
  }
  
  #hidden-span{
    display: none;
  }

  .flash-messages{
    height: 30px;
  }

  .login-heading{
      font-size: 1.1rem;
      font-weight: 500;
  }

  .cross{
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-left: 1.25rem;
  }

  .cross a i{
    font-size: 1.4rem !important;
  }

  h2{
    font-size: 0.95rem;
  }

  .Notice-list {    
    margin-left: 0.8rem; 
  }

  .Notice-list li {
    padding: 0.65rem 1rem; 
  }

  .Notice-list li p {
    font-size: 0.8rem;
    line-height: 1.55;
  }

  .subform-container{
    margin-left: 1.25rem;
  }

  .container-row{
    margin-bottom: 0.75rem;
  }

  .username-container label, .password-container label {
    margin-bottom: 0.5rem; 
    font-size: 0.8rem;
  }

  .username-container input, .password-container input {
    width: 80%;
    font-size: 0.85rem;
    margin-bottom: 0.2rem;
  }

  .label-container {
    width: 95%;
  }

  .password-container {
    width: 90%;
  }

  .label-container-password {
    width: 79%;
  }

  #login-form button {
    padding: 0.6rem 1.75rem;
    font-size: 0.85rem;
    margin-top: 0.75rem;
  }

  .forget-password{
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  #password-error-div, #email-error-div {
    font-size: 0.75rem;
    margin-bottom: 0.1rem;
  }
}

@media (max-width: 391px){
  #login-form{
    width:340px;
    padding-top: 2rem;
  }
}

@media (max-width: 376px){
  #login-form{
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    height:620px;
    width:355px;
  }

  .cross i{
    font-size: 1rem !important;
  }

  #login-form button{
    margin-top: 0.5rem;
  }

  .subform-container{
    margin-left: 1.5rem;
  }

  #login-form button{
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .forget-password{
    margin: 0;
  }

  .forget-password a{
    font-size: 1.05rem !important;
  }

  .forget-password p{
    font-size: 0.85rem !important;
    margin-bottom: 0.5rem;
  }

  #login-form button{
    padding: 0.4rem;
    width : 8rem;
  }
}

@media (max-width: 345px){
  #login-form{
    margin-top: 2rem;
    padding: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    height:640px;
    width:325px;
  }
}