:root{
    --primary-color: #4a90e2;
    --primary-color-2: #0CA678;
    --secondary-color: #f9f9f9b0;
    --tertiary-color: #FFFFFF;
    --label-notice-color: #333;
    --input-field-box: #36454F;
}

.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    overflow: hidden;
}

#login-form {
    height: 590px;
    width: 590px;
    margin-top: 2rem;
    padding: 1rem 2rem;
    padding-top: 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.flash-messages{
    height: 40px;
    margin-left: 0.2rem;
    padding: 0.2rem;
    color: red;
    text-align:center;
}

.login-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 800;
}

.cross{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 0.5rem 0 0;
    margin-left: 0.6rem;
    font-size: 1.25rem;
}

.cross a i{
  color: var(--primary-color-2);
}

h2{
  margin-left: 1.3rem;
  font-size: 0.9rem;
  color: red;
}

.Notice-list {
  list-style: none;
  padding: 0;       
  margin: 0;       
  margin-left: 0.5rem; 
}

.Notice-list li {
  background-color: var(--secondary-color);
  border-left: 2.5px solid var(--primary-color-2);
  padding: 0.8rem 1rem; 
  margin-bottom: 0.55rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.Notice-list li p {
  margin: 0;
  padding: 0.2rem 0.5rem 0.15rem 0.5rem;
  font-size: 0.8rem;
  color: var(--label-notice-color);
  line-height: 1.7;
  font-weight: 500;
}

.subform-container{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 3.8rem;
}

.subform{
    margin-top: 2rem;
    margin-left: 4.5rem;
}

.username-container, .password-container {
  margin-bottom: 0.1rem;
}

.username-container label, .password-container label {
  display: block;
  margin-bottom: 0.2rem; 
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--label-notice-color);
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

.username-container input, .password-container input {
  width: 130%;
  padding: 0.6rem 0.75rem;
  padding-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  border: 1.3px solid var(--input-field-box);
  border-radius:2rem;
  background-color: var(--tertiary-color);
  transition: border-color 0.3s ease;
}

.username-container input:focus, .password-container input:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.15);
}

input::placeholder,
textarea::placeholder {
  color: #999;
  font-size: 0.95rem;
  font-style: italic;
  opacity: 1; 
}

.label-container, .label-container-password {
  width: 139%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-container-password {
    width: 86%;
}

.password-container {
  width: 143%;
}

.password-wrapper {
  display: flex;
  align-items: center;
  gap: 3px; 
}

#toggle-password-div {
  cursor: pointer;
  color: var(--primary-color-2);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#eye-icon{
    margin-bottom: 0.5rem;
}

#password-error-div, #email-error-div {
  width: 120%;
  font-size: 0.8rem;
  color: red;
  margin-left: 0.5rem;
  margin-bottom: 0.8rem;
}


.login-div, .forget-password{
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    padding: 0.53rem 1.75rem;
    background-color: var(--primary-color-2);
    color: var(--tertiary-color);
    border: none;
    border-radius: 999px;      /* pill-shaped-btns */
    cursor: pointer;
    font-weight: 500;
    font-size: 0.85rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#login-form button:hover {
    background-color: var(--primary-color-2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.forget-password{
    margin: 2rem 0 0 1rem;
    font-size: 1.2rem;
}

.forget-password a{
    color: rgb(232, 21, 21);
    text-decoration: none;
}

.forget-password a:hover{
  color: var(--primary-color-2);
}

.bubble-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.bubble {
    position: absolute;
    bottom: -90px;
    width: 180px;
    height: 120px;
    animation: rise 5s linear infinite;
    left: 50%;                               
    animation-delay: calc(-1s * var(--i));
}

.bubble p {
    font-size: 4.5rem;
    letter-spacing: 2px;
    font-weight: 400;
    -webkit-text-stroke: 5px var(--primary-color-2);
    color: transparent;
}

@keyframes rise {
    0% {
        transform:  translateY(0) scale(1);
        opacity: 0;
    }
    
    30% {
        opacity: 0.7;
    }

    60%{
        opacity: 0.5;
    }

    90%{
        opacity: 0.4;
    }

    100% {
        transform:  translateY(-700px) scale(0.5);
        opacity: 0;
    }
}

/* Randomize bubbles */
.bubble:nth-child(1) { --i: 0; left: 18%; width: 50px; height: 50px; animation-duration: 5s; }
.bubble:nth-child(2) { --i: 1; left: 37%; width: 70px; height: 70px; animation-duration: 7s; }
.bubble:nth-child(3) { --i: 2; left: 55%; width: 60px; height: 60px; animation-duration: 6s; }
.bubble:nth-child(4) { --i: 5; left: 2%; width: 40px; height: 40px; animation-duration: 7s; }
.bubble:nth-child(6) { --i: 5; left: 72%; width: 40px; height: 40px; animation-duration: 8s; }
.bubble:nth-child(5) { --i: 6; left: 86%; width: 70px; height: 70px; animation-duration: 5s; }



/* ------------------------------------------------------- MEDIA QUERIES ---------------------------------------------- */

@media (max-width: 1290px){
  #login-form{
    margin-top: 4rem;
  }
}

@media (max-width: 1040px){
  #login-form {
    height: 950px;
    width: 740px;
    margin-top: 8rem;
    padding: 2rem 2rem;
  }

  .flash-messages{
    height: 60px;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
  }

  .login-heading{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .cross{
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-left: 2rem;
  }

  .cross a i{
    font-size: 2rem;
  }

  h2{
    font-size: 1.4rem;
  }

  .Notice-list {    
    margin-left: 0.9rem; 
  }

  .Notice-list li {
    padding: 0.85rem 1rem; 
  }

  .Notice-list li p {
    padding: 0.3rem 0.5rem 0.15rem 0.5rem;
    font-size: 1.4rem;
    line-height: 1.75;
  }

  .container-row{
    margin-bottom: 0.75rem;
  }

  .username-container, .password-container {
    margin-bottom: 0.6rem;
  }

  .username-container label, .password-container label {
    margin-bottom: 0.7rem; 
    font-size: 1.1rem;
  }

  .username-container input, .password-container input {
    width: 165%;
    font-size: 0.95rem;
    margin-bottom: 0.1rem;
    padding: 0.8rem 0.75rem;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 0.9rem;
  }

  .label-container, .label-container-password {
    width: 174%;
  }

  .password-container {
    width: 171%;
  }

  .label-container-password {
    width: 86%;
  }

  #eye-icon{
    font-size: 2rem;
  }

  #password-error-div, #email-error-div {
    margin-bottom: 0.9rem;
  }

  #login-form button {
    margin-top: 1rem;
    padding: 0.73rem 1.75rem;
    font-size: 1.1rem;
  }

  .forget-password{
      margin: 4rem 0 0 0rem;
      font-size: 1.2rem;
  }
}

@media (max-width: 940px){
  #login-form {
    height: 750px;
    width: 610px;
    margin-top: 12rem;
    padding: 2rem 2rem;
  }

  .flash-messages{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  .login-heading{
      font-size: 1.6rem;
      font-weight: 800;
  }

  .cross{
    padding: 0.5rem 0.5rem 0.5rem 0;
  }

  .cross a i{
    font-size: 1.75rem;
  }

  h2{
    font-size: 1.1rem;
  }

  .Notice-list {    
    margin-left: 0.6rem; 
  }

  .Notice-list li {
    padding: 0.9rem 1rem; 
  }

  .Notice-list li p {
    font-size: 1.1rem;
  }

  .subform-container{
    margin-left: 2.8rem;
  }

  .username-container, .password-container {
    margin-bottom: 0.3rem;
  }

  .username-container label, .password-container label {
    margin-bottom: 0.6rem; 
    font-size: 0.9rem;
  }

  .username-container input, .password-container input {
    width: 135%;
    padding: 0.55rem 0.75rem;
    font-size: 0.9rem;
  }

  .label-container, .label-container-password {
    width: 144%;
  }

  .password-container {
    width: 143%;
  }

  .label-container-password {
    width: 85%;
  }

  #password-error-div, #email-error-div {
    margin-bottom: 0.85rem;
  }

  #login-form button {
    margin-top: 0.8rem;
    padding: 0.6rem 1.75rem;
  }

  #eye-icon{
    font-size: 1.75rem;
    margin-bottom: 1.1rem;
  }

  .forget-password{
    margin: 2rem 0 0 1rem;
    padding-top: 1rem;
    font-size: 1.45rem;
  }

}

@media (max-width: 860px){
  .subform-container{
    margin-left: 3.5rem;
  }

  .subform{
      margin-top: 2rem;
      margin-left: 4rem;
  }

  .password-container {
    width: 143%;
  }

  .label-container-password {
    width: 86%;
  }
}

@media (max-width: 770px){
  #login-form{
    margin-top: 8rem;
    margin-left: 4.5rem;
  }
}

@media (max-width: 580px){
  #login-form {
    height: 680px;
    width: 520px;
    margin-top: 4rem;
    margin-left: 5.5rem;
    padding: 0.5rem 2rem;
  }

  .flash-messages{
    height: 40px;
  }

  .login-heading{
      font-size: 1.2rem;
      font-weight: 700;
  }

  .cross{
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-left: 1rem;
  }

  .cross a i{
    font-size: 1.5rem;
  }

  h2{
    font-size: 0.9rem;
  }

  .Notice-list {    
    margin-left: 0.5rem; 
  }

  .Notice-list li {
    padding: 0.75rem 1rem; 
  }

  .Notice-list li p {
    padding: 0.3rem 0.5rem 0.15rem 0.5rem;
    font-size: 0.9rem;
    line-height: 1.7;
  }

  .subform-container{
    margin-left: 2rem;
  }

  .subform{
      margin-top: 2rem;
      margin-left: 1rem;
  }

  .username-container label, .password-container label {
    margin-bottom: 0.4rem; 
    font-size: 0.8rem;
  }

  .username-container input, .password-container input {
    width: 105%;
    padding: 0.55rem 0.75rem;
    font-size: 0.9rem;
  }

  .label-container {
    width: 114%;
  }

  .password-container {
    width: 116%;
  }

  .label-container-password {
    width: 86%;
  }

  #eye-icon{
    font-size: 1.5rem;
    margin-bottom: 1.1rem;
  }

  #password-error-div, #email-error-div {
    margin-bottom: 0.65rem;
  }

  #login-form button {
    margin-top: 0.3rem;
    padding: 0.45rem 1.75rem;
  }

  .forget-password{
    margin: 0.5rem 0 0 1rem;
    padding-top: 1rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 440px){
  #login-form {
    height: 680px;
    width: 380px;
    margin-left: 2.5rem;
    margin-top: 6rem;
    padding: 0.5rem 1rem;
  }

  .flash-messages{
    height: 30px;
  }

  .login-heading{
      font-size: 1.2rem;
      font-weight: 600;
  }

  .cross{
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-left: 1.5rem;
  }

  .cross a i{
    font-size: 1.5rem;
  }

  h2{
    font-size: 0.95rem;
  }

  .Notice-list {    
    margin-left: 0.8rem; 
  }

  .Notice-list li {
    padding: 0.65rem 1rem; 
  }

  .Notice-list li p {
    font-size: 0.8rem;
    line-height: 1.55;
  }

  .subform-container{
    margin-left: 3.3rem;
  }

  .container-row{
    margin-bottom: 0.75rem;
  }

  .username-container label, .password-container label {
    margin-bottom: 0.5rem; 
    font-size: 0.8rem;
  }

  .username-container input, .password-container input {
    width: 85%;
    font-size: 0.85rem;
    margin-bottom: 0.2rem;
  }

  .label-container {
    width: 95%;
  }

  .password-container {
    width: 96%;
  }

  .label-container-password {
    width: 79%;
  }

  #login-form button {
    margin-top: 0.3rem;
    padding: 0.4rem 1.75rem;
    font-size: 0.85rem;
  }

  .forget-password{
    font-size: 0.9rem;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .bubble {
    width: 140px;
    height: 100px;
  }

  .bubble p{
    font-size: 2.5rem;
  }

  #password-error-div, #email-error-div {
    font-size: 0.75rem;
    margin-bottom: 0.1rem;
  }
}

@media (max-width: 391px){
  #login-form{
    margin: 5rem 0.5rem 2rem 3rem;
  }
}
@media (max-width: 380px){
  #login-form{
    margin-top: 2rem;
    margin-left: 3rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
  }

  .subform-container{
    margin-left: 1.3rem;
  }
}

@media (max-width: 370px){
  #login-form{
    margin-top: 2.5rem;
    margin-left: 0.2rem;
  }

  .subform-container{
    margin-left: 1.4rem;
  }

  .bubble-container{
    display: none;
  }
}