.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    overflow: hidden;
}

#requestOtp_form{
    height: 360px;
    width: 410px;
    margin-top: 5rem;
    padding: 1.25rem 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1.5rem; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.notice-message{
    display: flex;
    justify-content: center;
    align-items: center;
}

#notice-message-div{
    color: red;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.request-cross{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 0.4rem;
    margin-left: 0.6rem;
    margin-top: 1rem;
}

.request-cross a i{
    color: var(--primary-color);
    font-size: 1.4rem;
}

.request-otp-heading, .btn-div, .input-div, .error-message, #otp-box, .otp-label, .requestAgainOtpBtn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-otp-heading{
    margin: 0.75rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #333333;
}

#otp-section label{
    margin-bottom: 0.35rem; 
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--label-notice-color);
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

.otp-box input::placeholder,
textarea::placeholder {
  color: #999;
  font-size: 0.95rem;
  font-style: italic;
  opacity: 1; 
  text-align: center;
  margin-bottom: 1rem;
}


#requestOtp_btn, .signup-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.6rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: none;
    border-radius: 999px;    
    cursor: pointer;
    font-weight: 500;
    font-size: 0.85rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#requestOtp_btn:hover, .signup-btn:hover{
    background-color: var(--primary-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.otp-label{
    margin: 0.2rem;
    padding: 0.25rem;
}

#otp-box{
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}

#otp-box input{
    height : 40px;
    width: 40px;
    margin-right: 1.25rem;
    font-size: 1.1rem;
    border-radius: 0.75rem;
    text-align: center;
}

/* -------------------------------------------------------- MEDIA QUERIES ----------------------------------------- */


@media (max-width: 990px){
    #requestOtp_form{
        height: 550px;
        width: 550px;
        margin-top: 12rem;
    }
}

@media (max-width: 540px){
    #requestOtp_form{
        height: 480px;
        width: 400px;
        margin-top: 6rem;
    }
}

@media (max-width: 470px){
    #requestOtp_form{
        width: 310px;
        margin-top: 8rem;
    }

    .bubble{
        height: 90px;
        width: 120px;
    }

    .bubble p{
        -webkit-text-stroke: 3px var(--primary-color);
        font-size: 3.5rem;
    }

    .cross a i{
        font-size: 1.7rem;
    }

    #requestOtp_btn, .requestAgainOtpBtn{
        font-size: 0.7rem;

    }
}

@media (max-width: 380px){
     #requestOtp_form{
        height: 440px;
        width: 260px;
        margin-top: 6rem;
    }

    .requestAgainOtpBtn{
        margin-top: 1.5rem;
    }
}

