:root{
    --primary-color: #4a90e2;
    --secondary-color: #f9f9f9b0;
    --tertiary-color: #FFFFFF;
    --label-notice-color: #333;
    --input-field-box: #36454F;
}

.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

#signup-form {
    height: 670px;
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.75rem;
    padding: 0.2rem 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

#success-toast{
  visibility:hidden;
  max-width: 480px;
  background-color:#d4edda; 
  color:#155724;
  text-align: center;
  padding:3px;
  margin-left:4.5rem;
  border:1px solid #c3e6cb;
  border-radius:5px;
}

 .signup-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.65rem;
    font-weight: 200;
    letter-spacing: 1.5px;
    margin-left:rem;
  }

.cross{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 0.4rem;
    margin-top: 0.7rem;
}

.cross a i{
  color: var(--primary-color);
  font-size: 1.25rem !important;
}

h2{
  margin-left: 1.5rem;
  font-size: 0.7rem;
  color: red;
  letter-spacing: 1px;
}

.Notice-list {
  list-style: none;
  padding: 0;       
  margin: 0;       
}

.Notice-list li {
  background-color: var(--secondary-color);
  border-left: 2px solid var(--primary-color);
  padding: 0.7rem 0.75rem; 
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.Notice-list li p {
  margin: 0;
  padding: 0.2rem 0.5rem 0.15rem 0.5rem;
  font-size: 0.74rem;
  color: var(--label-notice-color);
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.subform-container{
  height : 210px;
  width: 600px;
  margin-top: 0.8rem;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.subform{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 600px;
}

.label-container{
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 0.1rem;
}

.label-container .label{
  color: var(--label-notice-color);
  font-size: 0.9rem;
  margin-left: 1rem;
}

.input-box{
  display: flex;
  justify-content: start;
  width: 400px;
  align-items: start;
}

.username-container input, .email-container input{
  padding: 0.5rem;
  padding-left: 1rem;
  border: 1px solid var(--label-notice-color);
  border-radius: 2rem;
  width: 175%;
  font-style: italic;
  letter-spacing: 1px;
}

.password-container{
  width: 75%;
  padding-left: 3rem;
}

.password-container input{
  width: 160%;
  margin-right: 0.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: 1px solid var(--label-notice-color);
  border-radius: 2rem;
  font-style: italic;
  letter-spacing: 1px;
}

.username-container input:focus, .password-container input:focus, .email-container input:focus, .phone-container input:focus, .textarea-container textarea:focus{
  border: 1.5px solid var(--primary-color);
  outline: none;
}

.textarea-container textarea::placeholder{
  text-align: left;
}

.password-wrapper{
  display: flex;
  justify-content: space-between;
  gap:0.45rem;

}

#toggle-password-div{
  display: flex;
  justify-content: end;
  align-items: center;
}

#eye-icon{
  color: var(--primary-color);
  font-size: 1.4rem;
  margin-left: 0.1rem;
  cursor: pointer;
}

#username-error-div, #password-error-div, #email-error-div, #phone-error-div, #address-error-div{
  color: red;
  font-size: 0.75rem;
  letter-spacing: 1px;
  padding-top:1px;
  width: 61%;
  height: 5px;
  margin-bottom: 16px;
  /* background-color: yellow; */
}

#address-error-div{
  margin-left: 0.5rem;
}

.signup-div{
  display: flex;
  justify-content: center;
  align-items: start;
}

#verify-email-btn{
  height: 2.4rem;
  width: 9rem;
  margin-top: 0.9rem;
  padding: 0.55rem;
  border:none;
  border-radius: 2rem;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  cursor: pointer;
  font-size: 0.9rem;
}

#verify-email-btn:hover{
    background-color: var(--primary-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transform: scale(0.95);
}

.flash-messages{
    height: 8px;
    margin-bottom: 2rem;
    font-size: 0.85rem;
    padding: 0.2rem;
    color: red;
    text-align:center;
}

.address-textarea-container{
  margin-left: 7.1rem;
  height: 120px;
}

.address-label-container label{
  color: var(--label-notice-color);
  font-size: 0.9rem;
  margin-left: 0.75rem;
}

.textarea-container textarea{
  height: 70px;
  width:375px;
  border: 1px solid #333333;
  border-radius: 1rem;
  padding: 4px;
  padding-left: 1rem;
  vertical-align: top;
  resize: vertical;
  margin-top: 3px;
}


.gender-container{
  display: flex;
  justify-content: center;
  align-items:  center;
  margin-bottom: 0.7rem;
  margin-top: 0.6rem;
}

.gender-container .label-container{
  color: var(--label-notice-color);
  font-size: 0.95rem;
}

.radio-btn{
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
  font-size: 16px;
  color: #333;
}

.radio-btn label{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--label-notice-color);
  font-size: 0.95rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.radio-btn label input{
  margin-right: 6px;
  cursor: pointer;
}


.bubble-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.bubble {
    position: absolute;
    bottom: -90px;
    width: 180px;
    height: 120px;
    animation: rise 5s linear infinite;
    left: 50%;                               
    animation-delay: calc(-1s * var(--i));
}

.bubble p {
    font-size: 4.5rem;
    letter-spacing: 2px;
    font-weight: 400;
    -webkit-text-stroke: 5px var(--primary-color);
    color: transparent;
}

@keyframes rise {
    0% {
        transform:  translateY(0) scale(1);
        opacity: 0;
    }
    
    30% {
        opacity: 0.5;
    }

    60%{
        opacity: 0.4;
    }

    90%{
        opacity: 0.3;
    }

    100% {
        transform:  translateY(-700px) scale(0.5);
        opacity: 0;
    }
}

/* Randomize bubbles */
.bubble:nth-child(1) { --i: 0; left: 18%; width: 50px; height: 50px; animation-duration: 5s; }
.bubble:nth-child(2) { --i: 1; left: 37%; width: 70px; height: 70px; animation-duration: 7s; }
.bubble:nth-child(3) { --i: 2; left: 55%; width: 60px; height: 60px; animation-duration: 6s; }
.bubble:nth-child(4) { --i: 5; left: 2%; width: 40px; height: 40px; animation-duration: 7s; }
.bubble:nth-child(6) { --i: 5; left: 72%; width: 40px; height: 40px; animation-duration: 8s; }
.bubble:nth-child(5) { --i: 6; left: 86%; width: 70px; height: 70px; animation-duration: 5s; }


/* ----------------------------------------------- MEDIA QUERIES ---------------------------------------------------- */

@media (max-width:1280px) {
  #signup-form {
    height: 700px;
    margin-top: 2rem;
  }

  #verify-email-btn{
    margin-top: 1.25rem;
  }
}

@media (max-width:1024px){
  #signup-form{
    margin-top: 12rem;
    padding-top: 0.5rem;
    height: 720px;
  }
  
  #verify-email-btn{
    margin-top: 1.5rem;
  }
  .bubble-container {
    height: 80vh;
  }
}

@media (max-width:768px){
  #signup-form{
    margin-top: 8rem;
  }

  .bubble-container{
    height: 90vh;
  }

  #verify-email-btn{
    margin-top: 1rem;
  }
}


@media (max-width:540px){
  #success-toast{
    max-width: 390px;
    margin-left:2.5rem;
    visibility: hidden;
    margin-top: 0.5rem;
    margin-left: 2.25rem;
  }

  #signup-form{
    height: 680px;
    width: 450px;
    margin-top: 1rem;
  }

  .subform-container{
    height : 205px;
    width: 400px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1.75rem;
  }
  
  .label-container .label{
    font-size: 0.8rem;
    margin-left: 1rem;
  }

  .input-box{
    width: 380px;
  }
  
  .password-container{
    width: 95%;
    padding-left: 0rem;
  }

  .textarea-container textarea{
    height: 60px;
    width:375px;
    border: 1px solid #333333;
    border-radius: 1rem;
    padding: 4px;
    padding-left: 1rem;
    vertical-align: top;
    resize: vertical;
    margin-top: 3px;
  }

  .address-textarea-container{
    height:110px;
    margin-left: 2.5rem;
    margin-bottom: 0rem;
  }

  .address-label-container label{
    color: var(--label-notice-color);
    font-size: 0.8rem;
    margin-left: 1rem;
  }

  .textarea-container textarea{
    height: 60px;
    width:360px;
  }

  #username-error-div, #password-error-div, #email-error-div, #phone-error-div, #address-error-div{
    color: red;
    font-size: 0.725rem;
    letter-spacing: 1px;
    padding-top:1px;
    width: 86%;
    height: 1rem;
    margin-bottom:5px;
  }

  #address-error-div{
    margin-left: 0.25rem;
  }

  .gender-container{
    margin-bottom: 0.5rem;
  }

  .gender-container .label-container{
    color: var(--label-notice-color);
    font-size: 0.85rem;
  }

  .radio-btn{
    display: inline-flex;
    align-items: center;
    margin-left: 1rem;
    font-size: 12px;
    color: #333;
  }

  #verify-email-btn{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .bubble{
    display: none;
  }
}


@media (max-width: 431px){
  #success-toast{
    max-width: 340px;
    margin-left:2.5rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }

  #signup-form{
    height: 710px;
    width: 335px;
    margin-top: 4rem;
  }

  .signup-heading{
    font-size: 0.5rem;
    font-weight: 200;
    letter-spacing: 1px;
  }

  .subform-container{
    height : 205px;
    width: 340px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0rem;
  }
  
  .label-container .label{
    font-size: 0.7rem;
    margin-left: 0.9rem;
  }

  .input-box{
    width: 280px;
  }
  
  .password-container{
    width: 80%;
    padding-left: 0rem;
  }

  #username-error-div, #password-error-div, #email-error-div, #phone-error-div, #address-error-div{
    color: red;
    font-size: 0.65rem;
    letter-spacing: 1px;
    padding-top:1px;
    width: 72%;
    height: 0.9rem;
    margin-bottom:8px;
  }

  #address-error-div{
    margin-left: 0.25rem;
  }

  .gender-container{
    margin-bottom: 1rem;
  }

  .gender-container .label-container{
    color: var(--label-notice-color);
    font-size: 0.85rem;
  }

  .radio-btn{
    display: inline-flex;
    align-items: center;
    margin-left: 1rem;
    font-size: 12px;
    color: #333;
  }

  .textarea-container textarea{
    height: 60px;
    width:100px;
    border: 1px solid #333333;
    border-radius: 1rem;
    padding: 4px;
    padding-left: 1rem;
    vertical-align: top;
    resize: vertical;
    margin-top: 3px;
  }

  .address-textarea-container{
    height:110px;
    margin-left: 1.8rem;
    margin-bottom: 0rem;
  }

  .address-label-container label{
    color: var(--label-notice-color);
    font-size: 0.8rem;
    margin-left: 1rem;
  }

  .textarea-container textarea{
    height: 60px;
    width:260px;
  }

  #verify-email-btn{
    height: 2rem;
    width: 8rem;
    margin-top: 0.6rem;
    padding: 0.4rem;
    font-size: 0.75rem;
  }
}


@media (max-width: 376px){
   #signup-form{
    height: 650px;
    width: 280px;
    margin-top: 0.5rem;
    padding-top: 0rem;
  }

  .signup-heading{
    font-size: 0.5rem;
    font-weight: 200;
    letter-spacing: 1px;
  }

   #success-toast{
    max-width: 340px;
    margin-top: 0.23rem;
    margin-left: 0.5rem;
    font-size: 0.6rem;
  }


  .subform-container{
    width: 260px;
  }

  .password-container{
    width: 100%;
    padding-left: 0rem;
  }
  

  .address-textarea-container{
    height:110px;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}


@media (max-width: 360px){
   #signup-form{
    height: 690px;
    width: 280px;
    margin-top: 1rem;
    padding-top: 0rem;
  }

   .signup-heading{
    font-size: 0.4rem;
    font-weight: 200;
    letter-spacing: 1px;
  }
}