:root{
    --primary-color: #4a90e2;
    --secondary-color: #f9f9f9b0;
    --tertiary-color: #FFFFFF;
    --label-notice-color: #333;
    --input-field-box: #36454F;
}

.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

#signup-form {
    height: 640px;
    width: 620px;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.signup-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    font-weight: 200;
    letter-spacing: 1.5px;
}

.cross{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 0.4rem;
    margin-top: 0.7rem;
}

.cross a i{
  color: var(--primary-color);
}

h2{
  margin-left: 1.5rem;
  font-size: 0.65rem;
  color: red;
}

.Notice-list {
  list-style: none;
  padding: 0;       
  margin: 0;       
  margin-left: 0.5rem; 
}

.Notice-list li {
  background-color: var(--secondary-color);
  border-left: 2px solid var(--primary-color);
  padding: 0.7rem 1rem; 
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.Notice-list li p {
  margin: 0;
  padding: 0.2rem 0.5rem 0.15rem 0.5rem;
  font-size: 0.74rem;
  color: var(--label-notice-color);
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.subform-container{
  height : 270px;
  padding:1rem;
  margin-right: 9rem;
  display: flex;
  justify-content: center;
  align-items: start;
}

.label-container{
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 0.2rem;
}

.email-label-container{
  gap:16rem;
}

.label-container .label{
  color: var(--label-notice-color);
  font-size: 0.9rem;
  margin-left: 1rem;
}


.username-container input, .email-container input, .phone-container input{
  padding: 0.5rem;
  padding-left: 1rem;
  border: 1px solid var(--label-notice-color);
  border-radius: 2rem;
  width: 150%;
}

.password-container{
  width: 160%;
}

.password-container input{
  width: 140%;
}

.password-container input{
  width: 150%;
  margin-right: 0.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: 1px solid var(--label-notice-color);
  border-radius: 2rem;
}

.username-container input:focus, .password-container input:focus, .email-container input:focus, .phone-container input:focus{
  border: 1.5px solid var(--primary-color);
  outline: none;
}

.password-wrapper{
  display: flex;
  justify-content: space-between;
  gap:0.55rem;

}

#toggle-password-div{
  display: flex;
  justify-content: end;
  align-items: center;
}

#eye-icon{
  color: var(--primary-color);
  font-size: 1.4rem;
  margin-left: 0.1rem;
  cursor: pointer;
}

#username-error-div, #password-error-div, #email-error-div, #phone-error-div{
  color: red;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding-left: 1rem;
  padding-top:1px;
}

.signup-div{
  display: flex;
  justify-content: center;
  align-items: start;
}

#signup-button{
  height: 2.2rem;
  width: 8rem;
  padding: 0.55rem;
  border:none;
  border-radius: 2rem;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  cursor: pointer;
}

.flash-messages{
    height: 8px;
    margin-bottom: 2rem;
    font-size: 0.85rem;
    padding: 0.2rem;
    color: red;
    text-align:center;
}

.bubble-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.bubble {
    position: absolute;
    bottom: -90px;
    width: 180px;
    height: 120px;
    animation: rise 5s linear infinite;
    left: 50%;                               
    animation-delay: calc(-1s * var(--i));
}

.bubble p {
    font-size: 4.5rem;
    letter-spacing: 2px;
    font-weight: 400;
    -webkit-text-stroke: 5px var(--primary-color);
    color: transparent;
}

@keyframes rise {
    0% {
        transform:  translateY(0) scale(1);
        opacity: 0;
    }
    
    30% {
        opacity: 0.7;
    }

    60%{
        opacity: 0.5;
    }

    90%{
        opacity: 0.4;
    }

    100% {
        transform:  translateY(-700px) scale(0.5);
        opacity: 0;
    }
}

/* Randomize bubbles */
.bubble:nth-child(1) { --i: 0; left: 18%; width: 50px; height: 50px; animation-duration: 5s; }
.bubble:nth-child(2) { --i: 1; left: 37%; width: 70px; height: 70px; animation-duration: 7s; }
.bubble:nth-child(3) { --i: 2; left: 55%; width: 60px; height: 60px; animation-duration: 6s; }
.bubble:nth-child(4) { --i: 5; left: 2%; width: 40px; height: 40px; animation-duration: 7s; }
.bubble:nth-child(6) { --i: 5; left: 72%; width: 40px; height: 40px; animation-duration: 8s; }
.bubble:nth-child(5) { --i: 6; left: 86%; width: 70px; height: 70px; animation-duration: 5s; }


/* ----------------------------------------------- MEDIA QUERIES ---------------------------------------------------- */

