<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW LOT DETAILS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= '/CSS/admin_css/links/view_lot_details.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='/images/form_images/form.webp') }}" type="image/x-icon">
    <style>
        body::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }
    </style>
</head>
<body id="page-body" class="page-body">
    <div class="lot-details" id="main-content">
        <div class="spots-cardboard">
            <div class="cross">
                <div class="icons-div">
                     <span class="tooltip-wrapper">
                        <i class="fa-solid fa-circle-info fa-xl" style="margin-top: 0.5rem;" id="view-icon"></i>
                        <span class="tooltip-text">View Parking lot information</span>
                    </span>

                    <span class="tooltip-wrapper">
                        <a href="/TruLotParking/role/adminDashboard/update-parkingLot-form?lot_id={{lot.lot_id}}"><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                        <span class="tooltip-text">Edit this Parking lot</span>
                    </span>
                </div>
            </div>
            <div class="search-input">
                <input type="text" id='search-box' placeholder="Search Spot id here...." data-target-class="spot" data-name-key="name">
            </div>
            <div class="heading">
                <div class="head">
                    <h2>{{lot.lot_name | upper}}</h2>
                    <p>CHOOSE A PARKING SPOT AND VIEW ITS DETAILS . . . .</p>
                </div>
                <div class="color-symbols">
                    <div class="green">
                        <div></div>
                        <p>Available</p>
                    </div>
                    <div class="red">
                        <div></div>
                        <p>Occupied</p>
                    </div>
                    <div class="yellow">
                        <div></div>
                        <p>Under Maintainence</p>
                    </div>
                </div>
            </div>
            <div class="spots-wrapper">
                {% for spot in spots %}
                    <div class="spot spot-box {% if spot.under_maintenance %} maintenance {% elif spot.occupied %} occupied{% else %} available {% endif %}" onclick="openSpotDetails('{{ spot.spot_id }}')" data-name="{{ spot.spot_id }}">
                        {{ spot.spot_id }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="overlay-blur"></div>
    <div id="spot-detail-panel" class="detail-panel">
        <div class="panel-content">
            <div class="heading-div">
                <h2 id="head">Spot Details &nbsp; <p id="spot-id"></p></h2>
                <a href="#" id="view-parked-vehicle-details">Parked Vehicle Details</a>
            </div>
            <div id="spot-content">
                <p id="spot-status"></p>
                <div id="spot-content-div">
                    <p id="reserved-by"></p>
                    <p id="reserved-email"></p>
                    <p id="parking-time"></p>
                </div>
                <div id="panel-div">
                    <p id="lot-name"></p>
                    <p id="lot-location"></p>
                </div>
            </div>
            <button onclick="closeSpotDetails()" id="spot-detail-btn">Close</button>
        </div>
    </div>

    <div class="lot-detail-panel" id="lot-detail-panel">
        <div class="detail">
            <h1>{{lot.lot_name}}</h1>
            <div class="lot-content">
                <p>Capacity : {{lot.capacity}}</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p>Spots Available : {{lot.available_spots}}</p>
            </div>
            <p>Price : 
                {% if lot.geographical_detail.country | lower == 'india' %}
                    &#8377;{{ lot.price_per_hr }}/hr
                {% else %}
                    ${{ lot.price_per_hr }}/hr
                {% endif %}
            </p>
            <p>Timing : {{lot.timing}}</p>
            <div class="lot-content" style="margin-top: 0.25rem;">
                <p>{{lot.geographical_detail.location}}, {{lot.geographical_detail.country}}</p>
            </div>
            <button id="lot-close-btn">Close</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='JAVASCRIPT/admin/view_spot.js')}}"></script>
    <script src="{{ url_for('static', filename='JAVASCRIPT/admin/searchSpot.js')}}"></script>
    <script src="{{ url_for('static', filename='JAVASCRIPT/alert.js')}}"></script>
    {% include 'components/loader.html' %}
    {% include 'components/alert.html' %}
</body>
</html>