<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer-container">
        <div class="footer-wrapper">
            <div class="gmail-icon-div">
                <span>
                    <i class="fa-regular fa-envelope"></i>
                </span>
                <span class="contact-text comic-neue-regular">For inquiries we are here to help you, please email us at : <span class="link-parent"><a href="mailto:TruLot.support@gmail.com">support@trulot.com</a></span></span>
            </div>
            <div class="icons-container">
                <div class="icons">
                    <div>
                        <i class="fa-brands fa-x-twitter"><a href="#"></a></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-youtube"><a href="#"></a></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-facebook-f"><a href="#"></a></i>
                    </div>
                </div>
            </div>

            <div class="copyright-msg">
                <h5>©</h5> 
                <span>2025 TruLot Technologies Inc. All rights reserved.</span>
            </div>
        </div>
    </div>
</body>
</html>