<div class="navbar">
    <div class="links">
        <ul>
            <li><a href="">Registered Users</a></li>
            <li><a href="">Reserved Lot Details</a></li>
            <li><a href="">Summary Charts</a></li>
        </ul>
    </div>

    <div class="search-bar">
        <div class="search-input-btn">
            <input type="text" placeholder="Search for a parking lot....">
            <button class="btn btn-outline-success">Search</button>
        </div>
    </div>
    <div class="links links-div">
        <ul>
            <li><a href="/TruLotParking/logout">Logout</a></li>
        </ul>
    </div>
</div>