<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='components/loader.css') }}">    
</head>
<body>
    <div id="loader" style="display: none;">
    <div class="dot-loader">
            <div class="dot red-color"></div>
            <div class="dot yellow-color"></div>
            <div class="dot green-color"></div>
            <div class="dot blue-color"></div>
        </div>
    </div>
</body>
</html>