<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TruLot Parking{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='/images/landing_page_images/icon_image.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='/images/landing_page_images/icon_image.JPG') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Festive&family=Noto+Sans+SC:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300..700&family=Noto+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Playfair+Display&family=Pacifico&family=Poppins&family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename = '/components/landing/landingPage.css')}}">

</head>
<body>
    <!-- navbar -->
        <nav>
            <div class="container nav-container">
                <a href="TruLotParking" class="logo"><h3>TruLot.</h3></a>
                <ul class="nav-link">
                    <li><a href="/TruLotParking/signup/creatingUser" style="--i:1;" class="active" id="signup-btn">Sign Up</a></li>
                    <li><a href="/TruLotParking/loginUser" style="--i:2;" id="login-btn">Login</a></li>
                    <li><a href="#" style="--i:3;">About Services</a></li>
                    <li><a href="#" style="--i:4;">Contact</a></li>
                </ul>
                <ul class="social-link">
                    <li><a href="#" style="--i:1;"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" style="--i:2;"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" style="--i:3;"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </nav>


        <!-- section-1-header-->
        <header>
            <div class="container header-container">
                <div class="header-left">
                    <h1>TruLot</h1>
                    <h5>Smart, Simple, and Stress-Free Parking at Your Fingertips</h5>
                    <p>
                        TruLot is a smart parking app designed to make urban parking simple, fast, and stress-free. 
                        Whether you're searching for a nearby spot or managing your own parking lot, 
                        TruLot connects drivers with real-time availability across city locations. 
                        With secure bookings, instant navigation, and digital payments, 
                        TruLot ensures a seamless parking experience from start to finish. 
                        Say goodbye to endless circling and last-minute parking hassles—TruLot is your reliable solution for smarter mobility. 
                        Experience convenience, control, and confidence every time you park with TruLot.
                    </p>
                    <a href="/TruLotParking/signup/creatingUser" class="btn" id="get-started-btn">Explore Parking Lots</a>
                </div>
                <div class="header-right">
                    <div class="sq-box">
                        <img src="{{ url_for('static', filename='images/landing_page_images/car3.png')}}" alt="">
                    </div>
                </div>
            </div>
            <div class="sq-box2"></div>
        </header>
    

        <!-- section-2-content -->
        <section class="section-team">
            <div class="content">
                <div class="content-h1">
                    <h1 class="typewriter-text">24/7 support from our TruLot Team</h1>
                </div>
                
                <div class="content-images">
                    <div class="images-container">
                        <input type="radio" name="slide" id="c1" checked>
                        <label for="c1" class="card">
                            <div class="glass-overlay"></div>
                        </label>

                        <input type="radio" name="slide" id="c2">
                        <label for="c2" class="card">
                            <div class="glass-overlay"></div>
                        </label>

                        <input type="radio" name="slide" id="c3">
                        <label for="c3" class="card">
                            <div class="glass-overlay"></div>
                        </label>

                        <input type="radio" name="slide" id="c4">
                        <label for="c4" class="card">
                            <div class="glass-overlay"></div>
                        </label>

                        <input type="radio" name="slide" id="c5">
                        <label for="c5" class="card">
                            <div class="glass-overlay"></div>
                        </label>

                        <input type="radio" name="slide" id="c6">
                        <label for="c6" class="card">
                            <div class="glass-overlay"></div>
                        </label>

                        <input type="radio" name="slide" id="c7">
                        <label for="c7" class="card">
                            <div class="glass-overlay"></div>
                        </label>

                        <input type="radio" name="slide" id="c8">
                        <label for="c8" class="card">
                            <div class="glass-overlay"></div>
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <!-- section-3-top-parking-across-world -->
        <section class="review-section">
            <div class="content">
                <div class="content-h1">
                    <h1 class="typewriter-text TruLot-review">What Our Users Say About TruLot ?</h1>
                </div>

                <div class="review-grid">
                    <div class="review-box">
                        <div class="review-description">
                            <div class="review-head profile-pic">
                                <div class="img-name">
                                    <img class="user-image" src="" alt="">
                                    <div class="name-email">
                                        <p class="email">subhanshiRana@gmail.com</p>
                                    </div>
                                </div>
                                <p class="gender"><span>&#9792;</span></p>
                            </div>
                            <div class="review-body">
                                <div class="review-para">TruLot has completely changed how I park in the city. It's fast, accurate, and saves me time every day. I highly recommend it to anyone tired of circling for parking spots!</div>
                                <div class="stars">
                                    <i class="fas fa-star star" style="color: gold;"></i>
                                    <i class="fas fa-star star" style="color: gold;"></i>
                                    <i class="fas fa-star star" style="color: gold;"></i>
                                    <i class="fas fa-star star" style="color: gold;"></i>
                                    <i class="fas fa-star-half-alt star" style="color: gold;"></i>
                                </div>
                            </div>
                        </div>

                        <div class="review-description">
                            <div class="review-head profile-pic">
                                <div class="img-name">
                                    <img class="user-image" src="https://media.istockphoto.com/id/477555600/photo/beach-woman.jpg?s=2048x2048&w=is&k=20&c=yppoZOv99hnjVxUGAxFi9tU8w-emIJRFYSXAbQ05l2Y=" alt="">
                                    <div class="name-email">
                                        <p class="email">subhanshiRana2@gmail.com</p>
                                    </div>
                                </div>
                                <p class="gender"><span>&#9792;</span></p>
                            </div>
                            <div class="review-body">
                                <div class="review-para">TruLot has completely changed how I park in the city. It's fast, accurate, and saves me time every day. I highly recommend it to anyone tired of circling for parking spots!</div>
                                <div class="stars">
                                    <i class="fas fa-star star" style="color: gold;"></i>
                                    <i class="fas fa-star star" style="color: gold;"></i>
                                    <i class="fas fa-star star" style="color: gold;"></i>
                                    <i class="fas fa-star star" style="color: gold;"></i>
                                    <i class="fas fa-star-half-alt star" style="color: gold;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gallery">
                        <div class="gallery-container">
                            <img class="gallery-item gallery-item-1" src="https://media.istockphoto.com/id/2160382428/photo/maximizing-space-smart-interior-design-solutions-for-car-parking-lots.jpg?s=2048x2048&w=is&k=20&c=P_HHEk6pu3UdWHKIiIKBWWEby8Cx3iYx1BaIfrl951M=" alt="image" data-index="1">
                            <img class="gallery-item gallery-item-2" src="https://media.istockphoto.com/id/1483745683/photo/realistic-render-empty-underground-parking-3d-illustration.jpg?s=2048x2048&w=is&k=20&c=r6NkY1W0VzCtNx03IVaYffdH3jf9WnBK2wvkfJpfDYg=" alt="image" data-index="2">
                            <img class="gallery-item gallery-item-3" src="https://media.istockphoto.com/id/452125955/photo/underground-parking.jpg?s=2048x2048&w=is&k=20&c=E6rNlbLZoht5JqMMQkfkPEIxQHLp-1FXilgoQEZGuAI=" alt="image" data-index="3">
                            <img class="gallery-item gallery-item-4" src="https://media.istockphoto.com/id/173610560/photo/supermarket-car-park-manchester-more-in-lightboxes-below.jpg?s=2048x2048&w=is&k=20&c=OA9RdxBF86kFL17jZ99i10gxDvj9owlVV1U8yYOx9x4=" alt="image" data-index="4">
                            <img class="gallery-item gallery-item-5" src="https://media.istockphoto.com/id/2215826549/photo/aerial-view-of-cars-at-outdoors-parking-lot-directly-above-view.jpg?s=2048x2048&w=is&k=20&c=yQeAuWJMIKE8lQbCfCPFj24XDCTeo9-Jivb9rkMW8V4=" alt="image" data-index="5">
                            <img class="gallery-item gallery-item-6" src="https://media.istockphoto.com/id/1053642872/photo/row-of-cars-in-parking-lot.jpg?s=2048x2048&w=is&k=20&c=Uf5I-tZztbuUBmkqT1EBR8etNrv4sfX9SvfTsz3KBsw=" alt="image" data-index="6">
                            <img class="gallery-item gallery-item-7" src="https://media.istockphoto.com/id/1183809831/photo/cars-for-sale-stock-lot-row.jpg?s=2048x2048&w=is&k=20&c=5CQjBQE8tFm0uLkwhHXJMcAIFdSsyFHdOozoEC2p7FY=" alt="image" data-index="7">
                        </div>
                        <div class="gallery-controls"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="TruLot-family">
            <div class="content">
                <div class="content-h1">
                    <h1 class="typewriter-text">Why using TruLot is a better choice ?</h1>
                </div>

                <div class="video-container">
                    <iframe width="1080" height="500"
                        src="https://www.youtube.com/embed/GrQMSRPDNvA"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
                
            </div>
        </section>


        <section class="footer-section">
            <div class="footer-grid">
                <div class="footer-col">
                    <!-- <h4 class="footer-h4">Company</h4> -->
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <!-- <h4 class="footer-h4">Support</h4> -->
                    <ul>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Report an Issue</a></li>
                        <li><a href="#">24/7 Chat Support</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <!-- <h4 class="footer-h4">Solutions</h4> -->
                    <ul>
                        <li><a href="#">Residential Parking</a></li>
                        <li><a href="#">Commercial Parking</a></li>
                        <li><a href="#">Smart City Parking</a></li>
                        <li><a href="#">EV Charging</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <!-- <h4 class="footer-h4">Legal</h4> -->
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Refund Policy</a></li>
                        <li><a href="#">License Agreement</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-base">
                &copy; TruLot Technologies Private Limited
            </div>
        </section>

    <script>
        window.addEventListener('scroll', () => {
            const triggerPoint = window.innerHeight - 100;    // 695px is the height of window(excluding, browser tools and icons).
            
            const typewriter_content_h1 = document.querySelectorAll('.typewriter-text');
            typewriter_content_h1.forEach((typewriter_content) => {
                const headingTop = typewriter_content.getBoundingClientRect().top;    // Gets the distance from the top of the viewport to the top of the element.
                if (headingTop < triggerPoint) {
                    typewriter_content.classList.add('typing');
                }
            });

            const galleryItems = document.getElementsByClassName('gallery-item');
            Array.from(galleryItems).forEach((el, i) => {
                const elTop = el.getBoundingClientRect().top;
                if (elTop < triggerPoint) {
                    setTimeout(() => {
                        el.classList.add('fade-in');
                    }, i*250);
                }
            });            

            ['card'].forEach((className) => {
                const elements = document.getElementsByClassName(className);
                Array.from(elements).forEach((el, i) => {
                    const elTop = el.getBoundingClientRect().top;
                    if (elTop < triggerPoint && !el.classList.contains('slide-left') && !el.classList.contains('slide-right')) {
                        const direction = i< 4 ? 'slide-left' : 'slide-right';
                        el.classList.add(direction);
                    }
                });
            });


            ['name', 'email'].forEach((className) => {
                const elements = document.getElementsByClassName(className);

                Array.from(elements).forEach((el) => {
                    const elTop = el.getBoundingClientRect().top;
                    if (elTop < triggerPoint) {
                        el.classList.add(`animate-${className}`);
                    }
                });
            });

            ['user-image', 'review-para', 'star'].forEach((className) => {
                const elements = document.getElementsByClassName(className);

                Array.from(elements).forEach((el) => {
                    const elTop = el.getBoundingClientRect().top;
                    if (elTop < triggerPoint) {
                        el.classList.add('flip-in');
                    }
                });
            });
        });

        // window.innerHeight 
        // It's used as a threshold. when we want to trigger animations a little before the element fully enters the viewport, not when it's already visible.
        // if an element’s top position (getBoundingClientRect().top) becomes less than 700px, it means:
        // “The element is about to enter the visible part of the screen — time to animate it.
    </script>
    <script src="{{ url_for('static', filename='JAVASCRIPT/landingpage/galleryImages.js')}}"></script>
    <script src="{{ url_for('static', filename='JAVASCRIPT/landingpage/reviews.js')}}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>
