
:root{
    --bright: #fb7185;

}

.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f8f9fa;

}

.layout {
    display: flex;
}

.left-container::-webkit-scrollbar,
.right-container::-webkit-scrollbar {
    display: none;
}


/*------------------------------- Fixed sidebar -----------------------------------------------*/
.left-container {
    width: 340px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 1rem;
    position: fixed;
    left: 0;
    overflow-y: auto;
    height: calc(100vh - 56px);
    top: 56px;
    bottom: 175px;
    z-index: 999;
}

.sidebar {
    margin-top: 3rem;
    margin-left: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar a{
    text-decoration: none;
    color: #1e3a8a;
    font-weight: 500;
    font-size: 1.1rem;
    margin:0.75rem;
    padding: 0.5rem;
    padding-left: 2rem;
    margin-bottom: 0.75rem;
    padding-bottom: 0.2rem;
    position: relative;
    transition: transform 0.2s ease-in-out;
}


.sidebar a:hover{
    color : #1e3a8a;
    transform: scaleX(1.06);
}



/* ------------------------------- right container ----------------------------------------*/ 
.right-container {
    display: flex;
    flex-direction: column;
    margin-left: 385px; 
    padding: 1rem;
    height: 100vh;
    overflow-y: scroll;
}

.greet-container{
    margin-top: 0.75rem;
}

.greet-container h1{
    font-size: 2rem;
    color: #0B0C10;
    font-weight: 500;
    margin-bottom: 0.2rem;
    letter-spacing: 1px;
    margin-left: 0.75rem;
    margin-bottom: 1rem;
}

.parking-lots-container{
    margin-bottom : 2rem;
}

.lots-card{
    display: flex;
    flex-wrap: wrap;
}

.card-anchor{
    text-decoration: none;
}

.card {
    margin-top: 1rem;
    transition: all 0.3s ease;
    border: 0.2px solid #dee2e6;
    border-radius: 1rem;
    margin-right: 1.75rem;
    margin-bottom: 1.25rem;
    height: 430px;
}

.card:hover {
    transform: translateY(-4px); 
    border: 1.25px solid #dee2e6;
}

.card .card-img-top{
    height: 190px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.heading-delete-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-delete-icon .icon{
    display: flex;
    justify-content: start;
    align-items: start;
}

.heading-delete-icon .icon i{
    padding-bottom: 0.4rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: #333333;
    transition: transform 0.3s ease;
    margin-bottom: 6px;
    margin-right: 4px;
}

.heading-delete-icon .icon i:hover{
    color: #ce2020d0;
    transform: translateY(-1px);
}

.card-body .heading-delete-icon h5{
    font-size: 1rem;
    font-weight: 600;
    color: #0b0c10;
}


.card-body p{
    font-size: 0.75rem;
    font-weight: 200;
    color: #343a40;
}

#description{
    height: 70px;
}

.list-group .list-group-item{
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 0.75rem;
    font-weight: 600;
    padding-top:0.75rem;
    letter-spacing: 1px;
}

.card-body-link{
    display: flex;
    justify-content: space-between;
}

.card-body .card-link{
    text-decoration: none;
    color: #1e3a8a;
    font-weight: 500;
    font-size: 0.9rem;
}

.rating p{
    margin-right: 0.5rem;
    font-size: 0.8rem;
    color: var(--bright);
}

.card-body .card-link:hover{
    color: var(--bright);
}

.pagination-container {
    width: 110% !important;
    margin: 2rem 0;
    margin-top: 0rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
}

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 0.5rem;
    margin-left: 10rem;
}

.page-item {
    margin: 0 0.3rem;
}

.page-link {
    padding: 0.5rem 1rem;
    background: #f8f9fa;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

.page-item.disabled .page-link {
    background: #e9ecef;
    color: #6c757d;
    pointer-events: none;
}

.lot-card {
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.lot-card.hide {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}

.result-container{
    color: red;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 16rem;
    margin-top: 8rem;
}