:root{
    --neon-magenta: #F72585;
    --primary-color: #4a90e2;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFFFF;
    color: #333;

}

.lot-details {
    max-width: 1450px;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

/*---------------------------------------------- CARD BOARD ------------------------------------------------ */ 
.spots-cardboard {
    padding-left: 0.85rem;
    padding-bottom: 3rem;
    padding-top: 0rem;
    padding-right: 0rem;
}

.cross{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem;
    margin-top: 3rem;
    width: 95%;
    margin-left: 1.5rem;
}

.icons-div{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-div i:hover{
    cursor: pointer;
}

.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 8px 12px;
    position: absolute;
    z-index: 1;
    bottom: 125%;         /* tooltip is Shown above icon */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.4s;
    white-space: nowrap;
    font-size: 0.8rem;
}

.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Triangular shape to point the tooltip on its icon */
.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;       /* at the bottom of the tooltip box */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-wrapper i {
    font-size: 1.75rem;
    color: #333333;
    transition: color 0.3s, transform 0.3s;
    padding: 6px;
    border-radius: 8px;
}

.tooltip-wrapper i:hover {
    transform: scale(0.9);
    cursor: pointer;
    color: #333;
}

.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 2.5rem;
    margin-top: 0rem;
}

.search-input input{
    padding: 0.8rem;
    width: 40%;
    border: 2px solid #000;
    border-radius:8px;
    font-size: 1.1rem;
    transition: border-radius 0.4s ease;
}

.search-input input::placeholder{
    font-size: 0.95rem;
}

.search-input input:focus{
    border-color: var(--primary-color);
    outline: none;
    border-radius:1.25rem;
    padding-left: 1rem;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
}

.spots-cardboard h2 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: #333333;
    margin-left: -0.5rem;
}

.head p{
    font-size: 1.25rem;
    margin-top: 2rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.2rem;
    margin-left: 1rem;
}

.color-symbols{
    display: flex;
    justify-content: space-between;
    width : 400px;
    margin-bottom: 2rem;
}

.red, .green, .yellow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.red div, .green div, .yellow div{
    height: 20px;
    width: 20px;
    border: 2px solid red;
    border-radius: 50%;
    margin-right : 0.5rem;
}

.red p, .green p, .yellow p{
    font-size: 0.85rem;
    font-weight: 500;
}

.green div{
    border: 2px solid #98FB98;
}

.yellow div{
    border: 2px solid orange;
}

.spots-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.spot {
    width: 60px;
    height: 60px;
    margin: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #333333;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.spot:hover {
    transform: scale(1.07);
}

.hidden {
  display: none !important;
}

.maintenance{
    background-color: #FFB347;
}

.occupied{
    background-color: #FF4C4C;
}

.available{
    /* background-color: #98FB98; */
    background-color: rgb(100, 205, 100);
}



/* -------------------------------------------------- PANEL STYLING --------------------------------- */
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex: 1;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    padding: 1rem;
}

.details h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #111827; 
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 1.3;
    letter-spacing: -0.5px;
    border-bottom: 2px solid #e5e7eb; 
    padding-bottom: 0.5rem;
}


button {
    padding: 0.8rem 2rem;
    background-color: #1e3a8a;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.4s ease, border-radius 0.6s ease;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

button:hover {
    border-radius: 2rem;
}

button a{
    text-decoration: none;
    color: #FFF;
}

#overlay-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3); 
    opacity: 0;
    pointer-events: none;
    z-index: 900;                  /* just below spot details panel */
    transition: opacity 0.3s ease;
}

#overlay-blur.blurred {
    opacity: 1;
    pointer-events: auto;
}

.detail-panel, .lot-detail-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 68%;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, 100%);
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
    display: none;
    border-radius: 10px;
}

.lot-detail-panel{
    width: 65%;
    height: 52.75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-panel{
    padding-bottom: 1rem;
}

.detail h1{
    width: 600px;
    border: 5px;
    text-align: center;
    padding: 0.6rem 1rem;
    color: #333333;
    letter-spacing: 0.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.99rem;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.detail .lot-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
    margin-top: 1rem;
}


.detail .lot-address .address-para, .price, .timing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 0.25px;
}

.detail .price{
    letter-spacing: 1px;
    width: 250px;
}

.detail .timing{
    letter-spacing: 1px;
    width: 250px;
}

.detail-panel.active, .lot-detail-panel.active {
    display: block;
    transform: translate(-50%, -50%);
}

.panel-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:3px;
    align-items: center;
    padding: 4px;
    height: 100%;
    overflow-y: auto;
}


.panel-content h2{
    margin-top: 0.75rem;
    letter-spacing: 2px;
    color: teal;
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#lot-close-btn{
    padding: 0.5rem;
    width: 8rem;
    margin-top: 0.75rem;
    background-color: teal;
    color: #FFFFFF;
    font-size: 0.95rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.panel-content #spot-detail-btn{
    padding: 0.6rem;
    width: 9rem;
    margin-left: 0.5rem;
    background-color: teal;
    color: #FFF;
}

.panel-content #spot-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
    height: 71%;
}

.panel-content #spot-content p{
    letter-spacing: 1.5px;
    font-size: 0.85rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0.4rem;
}

.panel-content #spot-content p a{
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: 500;
}

#lot-location, #lot-name{
    letter-spacing: 0.1px;
}

#panel-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #000;
    border : 2px solid teal;
    padding: 0.25rem;
    border-radius: 10px;
    width: 120%;
    height: 90px;
    margin-top: 0rem;
}


#spot-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #000;
    border : 2px solid teal;
    margin-top: 0rem;
    padding: 0rem 4rem;
}

#spot-detail-btn{
    margin-top: 1rem;
    font-size: 0.95rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.heading-div{
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13.5rem;
}

.heading-div a{
    font-size: 0.95rem;
    text-decoration: none;
    color: teal;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-bottom: 0.5rem;
}

#head{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47.5px;
}

#spot-status{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spot-id{
    background-color: teal;
    color: #FFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}


body.no-scroll {
    overflow: hidden;
}

